# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Downloads\Movie_Tiket_Booking\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
